div(id='wrapper')
div(id='fileDrop', class="centered") Drag a COLLADA (.dae) file here!
div(id='renderOptions', class="centered") 
  h3 Render Options:
  form(id='renderOptionsForm', name='renderOptionsForm')
    label(id='imageWidthLabel', for='imageWidth') Rendered Image Width:
    input(id='imageWidth', type='text')
    br
    label(id='imageHeightLabel', for='imageHeight') Rendered Image Height:
    input(id='imageHeight', type='text')
div(id='infoReport')