body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#fileDrop {
  border: 1px dashed blue;
  border-radius: 5px;
  font-size: 50px;
  height: 20%;
  min-height: 50px;
  text-align: center;
  width: 100%;
}

#fileDrop :hover {
  
}